.main_container {
          display:block;
	        width:100;
          text-align:center;
}

.logo {
        width:100%;
            padding-top:20px;
                padding-bottom:25px;
                
                
            }
.searchbox{
  width:
}
