a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header{

	height: 10px;
  
}
.header li{
	margin: 10px 10px;
	font-family: sans-serif;
	font-size: 13px;
	list-style-type: none; 
  
}

ul{
	display: flex;
	position: absolute;
	right: 0;
	margin: 0 20px;
	align-items: center;
	justify-content: center;
  
}

.logo img {
  display: block;
  width:300px;
  margin:220px auto;
}


.searchbox input {
  display: block;
  margin:-180px auto;
  height: 40px;
  width: 580px;
  padding-left: 15px;
  padding-right:15px;
  border: 2px solid #e8e8e8;
  box-shadow: 4px 4px 4px -1px #e8e8e8;

}

.searchbox input:hover {
 box-shadow: 1px 4px 6px 3px #e8e8e8;
}



.searchbuttons {
	text-align: center;
	margin-top: 200px;
}

.searchbuttons button {
	-webkit-box-shadow: none;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	height: 36px;
    line-height: 30px;
	color: #757575;
	font-weight: bold;
    margin: 11px 4px
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
	border-radius: 2px;
}

.searchbuttons button:hover {
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}


#signin{
	border: 1px solid #4285f4;
	background-color: #4285f4;
	color: white;
	font-weight: bold;
	padding: 0 12px;
	line-height: 28px;
	border-radius: 2px;
}